<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Document</title>
        <style>
            body {
                background-color: azure;
                text-align: center;
                font-family: Arial, sans-serif;
            }

            form {
                background-color: white;
                border: 1px solid gray;
                border-radius: 10px;
                width: 50%;
                padding: 2em;
                margin: 2em auto;
            }

            label {
                font-weight: bold;
                margin-right: 1em;
                display: inline-block;
                width: 100%;
                text-align: left;
                margin-top: 4px;
            }

            input[type="password"] {
                padding: 0.35em;
                font-size: 1em;
                border: 1px solid gray;
                border-radius: 5px;
                width: 80%;
                /* margin-top: 0.25rem; */
                margin-bottom: 1rem;
            }

            button[type="submit"] {
                background-color: navy;
                color: white;
                padding: 0.5em 1em;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 1em;
                width: 100%;
                text-align: center;
            }

            button[type="submit"]:hover {
                background-color: white;
                color: navy;
            }

            .error {
                color: red;
                margin-bottom: 1rem;
            }
        </style>
    </head>

    <body>
        <% if (locals.error) { %>
            <div style="color: red; margin-bottom: 1rem;">Incorrect Password </div>
            <% } %>
                <form method="post"
                    style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />
                    <button style="grid-column: span 2;" type="submit">Download</button>
                </form>
    </body>

</html>